h1 { font-family: Palatino; font-size: 49px; font-style: normal; font-variant: small-caps; font-weight: bold; line-height: 30px; }
h3 { font-family: Palatino; font-size: 35px; font-style: normal; font-variant: small-caps; font-weight: bold; line-height: 30px; }
p { font-family: Palatino; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 49px; }
tbody { font-family: Palatino; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 49px; }
ul { font-family: Palatino; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 49px; }
.box1 p {
  text-align: center; color: #ABABAB; line-height: 35px;
}
