h1 { font-family: Palatino; font-size: 49px; font-style: normal; font-variant: small-caps; font-weight: bold; line-height: 49px; }
h3 { font-family: Palatino; font-size: 37px; font-style: normal; font-variant: small-caps; font-weight: bold; line-height: 49px; }
p { font-family: Palatino; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 49px; }
tbody { font-family: Palatino; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 49px; }
ul { font-family: Palatino; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 49px; }
